##############################
## TransferClient
##############################
archive/*
!archive/data
!archive/receipts
!archive/stage
archive/data/*
!archive/data/.gitkeep
archive/receipts/*
!archive/receipts/.gitkeep
archive/stage/*
!archive/stage/.gitkeep
bin/*
!bin/.gitkeep
failed/*
!failed/.gitkeep
log/*
!log/.gitkeep
stage/*
!stage/.gitkeep

##############################
## Java
##############################
*.class
*.ear
*.jar
*.nar
*.war
.mtj.tmp/
hs_err_pid*

##############################
## Maven
##############################
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
buildNumber.properties
dependency-reduced-pom.xml
pom.xml.*
release.properties
target/

##############################
## Eclipse
##############################
*.bak
*.swp
*.tmp
*~.nib
.classpath
.loadpath
.metadata
.project
.recommenders
.settings/
bin/
local.properties
tmp/